<!-- app/views/welcome/show.html.erb -->
<% @src = "search" %>

<p><% @itinerary_id = params[:id] %></p>
 <div id=site_show class="transitions-enabled">

  	 <div  class="panel panel-default">


  	 	 <div  class="panel-heading ">
					  <h2> Top recommendations for <% for i  in 0..@sel_category_arrlen -1  %> </h2>
       			<%= @sel_category[i]  %> 
       			<% end %>
       			<%= @city.name.titleize %> , <%= @country.name.titleize %> 
				</div>

				<div class="panel-body">

	<div>	
				<% for j in 0..@topfiveresponsearrlength -1 %>
				   <% @elementsarrlength = @topfiveresponse[j]["businesses"].length %>
				    <% for i in 0..(@elementsarrlength - 1)  %>
				        <div class="site">

							 	<%= image_tag(@topfiveresponse[j]["businesses"][i]["image_url"]) %> 
				        <center>
				        <h3><%= link_to  @topfiveresponse[j]["businesses"][i]["name"], @topfiveresponse[j]["businesses"][i]["url"] %></h3> 
								
								<p><%= @topfiveresponse[j]["businesses"][i]["location"]["display_address"][0] %>,
								<%= @topfiveresponse[j]["businesses"][i]["location"]["display_address"][1] %></p>
							  <p><%= @topfiveresponse[j]["businesses"][i]["location"]["display_address"][2] %>,
								<%= @topfiveresponse[j]["businesses"][i]["location"]["display_address"][3] %> </p>
							  
						  	
								<td>
								  <%= link_to addsite_path(:itinerary_id => @itinerary_id, :name => @topfiveresponse[j]["businesses"][i]["name"],:latitude => @topfiveresponse[j]["businesses"][i]["location"]["coordinate"]["latitude"],:longitude => @topfiveresponse[j]["businesses"][i]["location"]["coordinate"]["longitude"],:image_url => @topfiveresponse[j]["businesses"][i]["image_url"],:url => @topfiveresponse[j]["businesses"][i]["url"], :src => @src), class: 'btn btn-default' do %>

								    <span class="glyphicon glyphicon-plus"></span>
								    Add Site
								  <% end %>
								</td>

						 	  </center>
			
											
							   </div>
			      <% end %>
			 <% end %> 

</div>	



				</div>




<div class="panel-footer">


				<div class="row">
						<div class="col-md-6">

							 <div class="btn-group.pull-right"> <%= link_to 'Go Back', searchsite_path %>
							 </div>
						</div>
					</div>


</div>



   




